# .env file for the weatherStation.py script

# Latitude and Longitude for the weather station. Used to calculate plane distance
STATION_LOCATION=(XX.XXXXX, -XX.XXXX)

# InfluxDB Configuration (adjust as needed)
INFLUXDB_HOST=influx.example.com
INFLUXDB_PORT=8086
INFLUXDB_DB=WeatherStation
INFLUXDB_USER=user
INFLUXDB_PASSWORD=pass
MEASUREMENT_NAME=weather_data

# Discord Webhook URL
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/url

# Image Intake URL
IMAGE_INTAKE_URL="https://example.com/upload.php"

# UptimeKuma URL
UPTIME_KUMA_URL="https://example.com/api/push/UNIQUE_ID?status=up&msg=OK&ping="